<div id="wrapper">
<TABLE BORDER id="matri" class="t">
<TR>
<TD> ID </TD><TD>Jer. Objetivos </TD><TD> Resumen Narrativo </TD><TD> Indicadores de Desempeño </TD> <TD> Fuentes y medio de verificación </TD> <TD> Supuestos </TD>
</TR>

Añadir Contenidos: <p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >
 <TD> <input type="text" id="comment" name="comment[texto]" value=""/> </TD><TD> <input type="text" id="comment" name="comment[texto1]" value=""/> </TD><TD> <input type="text" id="comment" name="comment[texto2]" value=""/> </TD><TD> <input type="text" id="comment" name="comment[texto3]" value=""/> </TD><TD> <input type="text" id="comment" name="comment[texto4]" value=""/> </TD><TD> <input type="text" id="comment" name="comment[texto5]" value=""/> <TD>
  <button type="submit">Enviar</button>
</form>
</TABLE>
</div>


