<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"><title>Quiz</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Autor: Gustavo Adolfo Mares Saucedo</h2>
<img src="/images/autor.JPG" />
</body>
</html>

