<input type="text" id="preg" name="quiz[pregunta]" placeholder="Matriz" value =<% if (quiz.pregunta == 'Pregunta') {%> "" <% } else { %>
  "<%= quiz.pregunta %>" <% } %>/><p>

<input type="text" id="resp" name="quiz[respuesta]" placeholder="Bandera" value =<% if (quiz.respuesta == 'Respuesta') {%> "" <% } else { %>
  "<%= quiz.respuesta %>" <% } %>/><p>


<select name="quiz[tema]" id="tema" value="<%= quiz.tema %>">
<option value="" disabled selected>Seleciona tu área</option>
<option name="Tesorería Municipal" value="Tesorería Municipal">Tesorería Municipal</option>
<option name="Obras públicas" value="Obras públicas">Obras públicas</option>
<option name="Agua potable" value="Agua potable">Agua Potable</option>
<option name="Fiscalización" value="Fiscalización">Fiscalización</option>
<option name="Predial y Catastro" value="Predial y Catastro">Predial y Catastro</option>
</select></br></br>

<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">
