<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"><title>San Luis de la Paz, Gto.</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h2>Matriz de Indicador de Resultados</h2>
<form method="get" action="/quizes/answer">
Unidad Administrativa, departamento o Área: <%= pregunta %> <p>
<input type="text" name="Respuesta" value="Bandera aquí" />
<input type="submit" value="Enviar">
</form>
</body>
</html>

